.has-admin-bar {

  .navbar-top {
    position: absolute;
    width: 100% ;
  }

  .navbar-fixed-top {
    top: 32px ;
  }

}

.vc_editor {
  .navbar-fixed-top {
    top: 56px ;
  }
}

.navbar-top {
  z-index: $zindex-navbar-fixed ;
}

.navbar-right {
  margin-right: 15px ;
}

.navbar-center
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;

    & > li {
      float: none ;
      display: inline-block;
      vertical-align: middle ;

      min-width: 210px ;
      margin: 0 $navbar-padding-horizontal ;

      .dropdown-toggle {

        // cf. bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_dropdowns.scss
        // class .dropdown-menu line 31
        // sorry no variables avalaible from bootstrap ...
        min-width: 160px ;

        .glyphicon, .fa {
          margin-left: $navbar-padding-horizontal ;
        }
      }

      .navbar-brand {
        .navbar > .container &,
        .navbar > .container-fluid & {
          width: 100% ;
          margin-left: 0;
        }
      }

      .navbar-logo {
        padding: 0 ;
        img {
          max-height: 32px ;
        }
      }

    }

}

.sticky-row {
  &.affix {
    top: $navbar-height ;
    width: 100% ;
    // z-index: $zindex-navbar-fixed ;
  }

  &.affix-top { }

  &.affix-bottom { }

}

.navbar {
  font-family: $headings-font-family ;
}

.navbar-inverse {
  background-color: transparent ;
  border-color: transparent ;
  &.navbar-top {
    background-color: rgba(0,0,0,0.5);
  }
}

.navbar-breadcrumb {
  border-radius: 0;
  border-width: 1px 0 1px 0 ;
  min-height: 102px ;
  .navbar-nav {

    .breadcrumb-fix-left, .breadcrumb-fix-right , .breadcrumb-fix-center {
      position: absolute;
      background-color: white;
      height: 100%;
      width: 50% ;
      margin: 0;
      visibility: hidden ;
      &.active {
        visibility: visible ;
      }
    }

    .breadcrumb-fix-left { left: 0; }
    .breadcrumb-fix-center { width: 350px ; right: 50% ;}
    .breadcrumb-fix-right { right: 0; }

    li {
      height: 100%;
      overflow: visible;
      min-width: 250px ;
      a {
        margin-right: -35px ;
        height: 100px ;
        padding-top: 35px ;
        padding-left: 25px ;
        background: url($breadcrumb-bg-image) center right no-repeat transparent ;
        text-align: left ;



        &:hover {
          background: url($breadcrumb-bg-hover-image) center right no-repeat transparent ;
          color: map-get( $palette, "color-light-green" );
        }

      }

      &.current_page_item a {
        background: url($breadcrumb-bg-active-image) center right no-repeat $navbar-default-bg ;
        color: map-get( $palette, "color-light-green" );
      }

      &:last-of-type {
        a {
          background-image: none;
        }

        &.current_page_item a {
          background-color: white ;
        }

      }



    }
  }


}

footer {
  .navbar-text {
    margin-top: $footer-margin-top-fix ;
    .glyphicon, .fa {
      margin-left: 10px ;
    }
  }
}
