extends layouts/default

block content
  .container-sm
    .page-header
      h1 hello 
      
    .list-group
      a.list-group-item(href='theme.html')
        h4.list-group-item-heading theme
        // p.list-group-item-text
      a.list-group-item(href='layout.html')
        h4.list-group-item-heading basic layout
